section{
  font-family: verdana sans-serif;
  font-size: 1.3em;
  width: 700px;
  margin:0 auto;
}

.amarillos{
  height: 50px;
  display:inline-block;
  background-color: yellow;
  padding: 10px;
  margin-left:15px;
}
.rojo{
  width: 100px;
  height: 50px;
  display:inline-block;
  background-color: red;
  padding: 10px;
  margin-left:15px;
}
